<div class="container my-5">
  <h2 class="mb-5 fs-1"><span class="text-success">Reset Password</span> Page:</h2>
  <form [formGroup] = "resetForm" (ngSubmit) = "resetPassword(resetForm)">
    <label for="email">Email:</label>
    <input [class.is-invalid] = "resetForm.get('email')?.errors && resetForm.get('email')?.touched"
    [class.is-valid] = "resetForm.get('email')?.errors == null" formControlName = "email" type="email" name="email" id="email" class="form-control my-2">
    <div *ngIf="resetForm.get('email')?.errors && resetForm.get('email')?.touched" class="alert alert-danger">
      <p *ngIf="resetForm.get('email')?.getError('required')">Input Required</p>
      <p *ngIf="resetForm.get('email')?.getError('email')">Invalid Email</p>
    </div>
    <label for="password">Password:</label>
    <input [class.is-invalid] = "resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched"
    [class.is-valid] = "resetForm.get('newPassword')?.errors == null" formControlName = "newPassword" type="password" name="newPassword" id="password" class="form-control my-3">
    <div *ngIf="resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched" class="alert alert-danger">
      <p *ngIf="resetForm.get('newPassword')?.getError('required')">Input Required</p>
      <p *ngIf="resetForm.get('newPassword')?.getError('newPassword')">Invalid Email</p>
    </div>
    <button [disabled]="resetForm.invalid" type="submit" class="btn btn-success">
      <i *ngIf="Loading" class="fa-solid fa-spinner fa-spin"></i>
      Confirm
    </button>
    <div *ngIf="errorMessage.length > 0" class="alert alert-danger">
      <p>{{errorMessage}}</p>
    </div>
  </form>

</div>

