<div class="container py-5 d-flex justify-content-center">
  <form [formGroup]="checkoutForm" (ngSubmit)="checkout(checkoutForm)" class="py-5 w-75">
    <h2 class="mb-4"><span class="text-success">Checkout</span> Page</h2>
    <label for="details">Details:</label>
    <input formControlName="details" type="text" name="details" id="details" class="form-control mt-2 mb-3">
    <label for="phone">Phone:</label>
    <input formControlName="phone" type="tel" name="phone" id="phone" class="form-control mt-2 mb-3">
    <label for="city">City:</label>
    <input formControlName="city" type="text" name="city" id="city" class="form-control mt-2 mb-3">
    <button type="submit" [disabled]="checkoutForm.invalid" class="btn btn-success">Send</button>
  </form>
</div>
