<form [formGroup]="forgotForm" (ngSubmit)="forgotPassword(forgotForm)" class="my-5 w-75 mx-auto forgotPassword">
  <label for="email">Email:</label>
  <input formControlName="email" type="email" class="form-control mt-2 mb-4">
  <p class="position-absolute text-success">{{successMessage}}</p>
  <p class="position-absolute text-danger">{{failMessage}}</p>
  <button [disabled]="forgotForm.invalid" type="submit" class="btn bg-dark text-white float-end">Send code</button>
</form>
<form [formGroup]="verifyForm" (ngSubmit)="verifyCode(verifyForm)" class="my-5 w-75 mx-auto verifyCode d-none">
  <label for="email">Enter the Code:</label>
  <input formControlName="resetCode" type="email" class="form-control mt-2 mb-4">
  <p class="position-absolute text-danger">{{invalidCodeStatus}}</p>
  <button [disabled]="verifyForm.invalid" type="submit" class="btn bg-dark text-white float-end">Send code</button>
</form>
